# Binaries
/bin/
/dist/
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.http

# Output of go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Env files
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# other
plans